@font-face {
	font-family: 'Vetrino';
	src: url('/assets/fonts/vetrino.otf') format('opentype');
	font-weight: 400;
	font-style: normal;
}

* {
	font-family: 'Vetrino', serif;
	font-weight: 400;
	font-style: normal;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	border: none;
}

body {
	margin: 0;
}

main {
	margin-bottom: 40px;
	padding: 40px 20px 0 20px;
}

header {
	padding: 14px 0;

	display: flex;
	justify-content: center;
	align-items: center;

	border-bottom: 8px solid #efb6bd;

	background-color: pink;
}

header h1 {
	font-size: 48px;
	font-weight: 900;
}

.language__switcher {
	position: absolute;

	right: 2vw;
}

.lang-btn {
	background: none;
	cursor: pointer;
	padding-left: 8px;

	font-size: 20px;

	opacity: 0.4;
}

.btn-active {
	opacity: 1;
}

.strawberry__description h2 {
	font-size: 38px;
}

.strawberry__description p {
	margin-top: 8px;
	font-size: 24px;
}

.selection__section {
	height: 400px;

	margin-top: 40px;
	border-radius: 20px;

	display: flex;
	align-items: center;

	cursor: pointer;
	overflow: hidden;
}

.selection__section_item {
	width: 100%;

	object-fit: cover;
	transition: transform 0.5s ease;

	z-index: 0;
}

.selection__section_item:hover {
	transform: scale(1.05);

	z-index: 0;
}

.selection__section_text {
	padding: 20px;

	position: absolute;
	margin-top: 48vh;
	left: 50%;
	transform: translate(-50%, -50%);
	border-radius: 20px;

	font-size: 64px;

	background-color: #ffff;

	z-index: 2;
}
