@font-face {
	font-family: 'Vetrino';
	src: url('/assets/vetrino.otf') format('opentype');
	font-weight: 400;
	font-style: normal;
}

* {
	font-family: 'Vetrino', serif;
	font-weight: 400;
	font-style: normal;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	border: none;
}

body {
	margin: 0;
}

header {
	height: 60px;

	display: flex;
	justify-content: center;
	align-items: center;

	font-weight: 900;
	font-style: initial;

	border-bottom: 8px solid #efb6bd;

	background-color: pink;
}

.language__switcher {
	position: absolute;

	right: 2vw;
}

.lang-btn {
	background: none;
	cursor: pointer;

	opacity: 0.3;
}

.btn-active {
	opacity: 1;
}

.strawberry__description {
	margin-top: 10px;
	margin-left: 14px;

	font-size: 16px;
}

.selection__section {
	height: 400px;

	margin: 80px 20px 0 20px;

	display: flex;
	align-items: center;

	overflow: hidden;
}

.selection__section img {
	height: 58vw;

	object-fit: cover;
}

.chocolate {
}
